<nav id="new-navbar" class="navbar">
      <img src="/assets/logos/LogoFinal.png">
      <a id="navbar-title" href="#">
          Sign Up
        </a>
    </nav>

    <div class="container">
        <div class="card">
            <div class="card-header">
              Enter Email & Password
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      <small id="email-prompt" class="form-text hidden">ERROR! Invalid Email or Username.</small>
                    </div>
                    <div class="form-group">
                      <label for="enter-password">Password</label>
                      <input type="password" class="form-control" id="enter-password" placeholder="Password">
                    </div>
                    <div class="form-group fg-hide hidden">
                        <label for="confirm-password">Re-enter Password</label>
                        <input type="password" class="form-control" id="confirm-password" placeholder="Password">
                        <small id="password-prompt" class="form-text hidden">ERROR! Passwords must match.</small>
                    </div>
                    <button type="submit" id="sign-up" class="btn btn-hide btn-propietary hidden">Sign Up</button>
                    <p id="signup-link" class="">Already have an account? Login <a href="/login">here!</a></p>
                  </form>
            </div>
          </div>
    </div>

    
    <footer>TimeVeil &copy 2020</footer>
    <script src="/assets/js/signup.js"></script>