<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TimeVeil · User</title>
    <!-- favicon -->
    <link rel="icon" href="assets/logos/FinalFavicon.png" type="image/gif">
    <!-- jQuery & bootstrap JS -->
    <script src="assets/libraries/jquery-3.4.1.js"></script>
    <script src="assets/libraries/bootstrapJS.js"></script>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="assets/libraries/bootstrapCSS.css">
    <!-- propietary CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/user.css">
</head>
<body>
    <nav id="new-navbar" class="navbar">
      <img src="assets/logos/LogoFinal.png">
      
        <div id="navbar-title" > 
            <div class="row">
                <div class="col">
                    <button class="btn btn-propietary start-timer">Start Timer</button>
                </div>
                <div class="col">
                    <button class="btn btn-danger stop-timer">Stop Timer</button>
                </div>
                <div class="col">00:00</div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-4">

                <div class="list-group list-group-root well"><h3 class="green-white">Tasks</h3>
                    
                    <a href="#item-1" class="list-group-item client" data-toggle="collapse">
                        <i class="glyphicon glyphicon-chevron-right"></i>Task List
                    </a>
                    <div class="list-group collapse" id="item-1">
                        {{#each Tasks}}
                        <a href="#item-1-1" class="list-group-item" data-toggle="collapse">
                            <i class="glyphicon glyphicon-chevron-right"></i>{{Task_name}}
                        </a>
                        {{/each}}
                        <!-- add new Task -->
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="add-task-btn btn btn-propietary" data-toggle="modal" data-target="#task-modal" type="button">+Add Task</button>
                            </span>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="task-modal" tabindex="-1" role="dialog" aria-labelledby="task-modal-title" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title green" id="task-modal-title">Add Task Details</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- task form here -->
                                            <form class="green">
                                                <div class="form-row">
                                                    <div class="form group col-md-12">
                                                        <label for="new-task-name">Task Name</label>
                                                        <input type="text" class="form-control" id="new-task-name" placeholder="Name">
                                                    </div>
                                                </div>                                                    
                                            </form>
                                            <!-- task form here -->
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-propietary task-modal-save">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- add new Task -->
                        
                    </div>
                    <!-- end client 1 -->
                    
                </div>
                <!-- end list-group-root -->
                      
            </div>
            <!-- end col-md-4 -->

            <div class="col-md-8">
                <table class="table table-striped green">
                    <thead>
                      <tr class="">
                        <th scope="col"><h4>#</h4></th>
                        <th scope="col"><h4>Task</h4></th>
                        <th scope="col"><h4>Date</h4></th>
                        <th scope="col"><h4>Hours</h4></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Make Billboards</td>
                        <td>3/15/20</td>
                        <td>4</td>
                      </tr>
                      
                    </tbody>
                </table>
            </div>
            <!-- end column -->
        </div>
    </div>
    
    <footer>TimeVeil &copy 2020</footer>
    <script src="assets/js/user.js"></script>
</body>
</html>









