body {
    height:100%;
}

#navbar-title {
    display:inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color:#268FFF;
    font-weight:bold;
}

.container {
    width:50%;
    margin-top:75px;
    margin-bottom:75px;
    margin-right:auto;
    margin-left:auto;
}

.card-header {
    background-color:#268FFF;
    color:white;
    font-weight:bold;
}

.hidden {
    visibility: hidden;
}

#password-prompt {
    color:red;
}

.btn-primary {
    background-color:#268FFF;
    color:white;
}

footer {
    display: block;
    position: fixed;
        left:0;
        bottom:0;
        width:100%;
        background-color:#268FFF;
        color:white;
        text-align:center;
        padding: 10px 0px 10px 0px; 
        font-weight:bold;
}
