<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TimeVeil · Login</title>
    <!-- favicon -->
    <link rel="icon" href="/assets/logos/FinalFavicon.png" type="image/gif">
    <!-- jQuery & bootstrap JS -->
    <script src="/assets/libraries/jquery-3.4.1.js"></script>
    <script src="/assets/libraries/bootstrapJS.js"></script>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/libraries/bootstrapCSS.css">
    <!-- propietary CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/signup.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/user.css">
</head>
<body>
    {{{ body }}}
</body>
</html>


