body {
    height:100%;
}
#new-navbar {
    background-color:#c5dada;
    border-bottom:3px solid rgb(78, 75, 75);
}

#navbar-title {
    display:inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color:#259b9e;
    font-weight:bold;
}
img {
    height:5rem;
}

.container {
    width:50%;
    margin-top:75px;
    margin-bottom:75px;
    margin-right:auto;
    margin-left:auto;
}

.card-header {
    background-color:#259b9e;
    color:white;
    font-weight:bold;
}
.hidden {
    visibility: hidden;
    /* display:none; */
}

#password-prompt {
    color:red;
}

.btn-propietary {
    background-color:#259b9e;
    color:white;
    border: 1px solid #259b9e;
  }

  footer {
    margin-top:80px;
    border-top:3px solid rgb(78, 75, 75);
    display: block;
    position: fixed;
        left:0;
        bottom:0;
        width:100%;
        background-color:#259b9e;
        color:white;
        text-align:center;
        padding: 10px 0px 10px 0px; 
        font-weight:bold;
}

.btn-propietary:hover {
    background-color: #177c7e;
    border: 1px solid #259b9e;
  }
  
  .btn-propietary:active {
    background-color: #0f6d6e;
    border: 1px solid #259b9e;
  }
  
  .btn-propietary:visited {
    background-color:#259b9e;
    border: 1px solid #259b9e;
  }
  .btn-propietary:focus {
    background-color:#259b9e;
    border: 1px solid #259b9e;
  }