.col, .col-md-3, .col-md-6 {
  border: 1px solid black;
}
.container {
  margin-top: 20px;
  margin-bottom:20px;
}
body {
    height:100%;
}

#new-navbar {
  background-color:#c5dada;
}

#navbar-title {
    display:inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color:#259b9e;
    font-weight:bold;
}
img {
  height:5rem;
}



.card-header {
  background-color:#259b9e;
    color:white;
    font-weight:bold;
}
.hidden {
    visibility: hidden;
    /* display:none; */
}



.btn-propietary {
  background-color:#259b9e;
  color:white;
  border: 1px solid #259b9e;
}

footer {
    display: block;
    position: fixed;
        left:0;
        bottom:0;
        width:100%;
        background-color:#259b9e;
        color:white;
        text-align:center;
        padding: 10px 0px 10px 0px; 
        font-weight:bold;
}

.btn-propietary:hover {
  background-color: #177c7e;
  border: 1px solid #259b9e;
}

.btn-propietary:active {
  background-color: #0f6d6e;
  border: 1px solid #259b9e;
}

.btn-propietary:visited {
  background-color:#259b9e;
  border: 1px solid #259b9e;
}
.btn-propietary:focus {
  background-color:#259b9e;
  border: 1px solid #259b9e;
}


/* styling for tree view */

/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  /* Style the caret/arrow */
  .caret {
    cursor: pointer;
    /* user-select: none; */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    color: #259b9e;
    /* background-color:#259b9e; */
    display: inline-block;
    margin-right: 6px;
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg);
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }